<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.BeddetailsMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Beddetails">
        <id column="id" property="id"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="bed_details" property="bedDetails"/>
        <result column="customer_id" property="customerId"/>
        <result column="bed_id" property="bedId"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, start_date, end_date, bed_details, customer_id, bed_id, is_deleted
    </sql>
</mapper>