<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.BedMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Bed">
        <id column="id" property="id"/>
        <result column="room_no" property="roomNo"/>
        <result column="bed_status" property="bedStatus"/>
        <result column="bed_no" property="bedNo"/>
        <result column="budding_no" property="buddingNo"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, room_no, bed_status, bed_no, budding_no, is_deleted
    </sql>

    <select id="selectBedCount" resultType="CwsybedVo">
        SELECT
                ( SELECT count( 1 ) FROM bed ) zcw,
                ( SELECT count( 1 ) FROM bed WHERE bed_status = 1 ) kx,
                ( SELECT count( 1 ) FROM bed WHERE bed_status = 2 ) yr,
                ( SELECT count( 1 ) FROM bed WHERE bed_status = 3 ) wc
    </select>

</mapper>