<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.CustomernurseitemMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Customernurseitem">
        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="customer_id" property="customerId"/>
        <result column="level_id" property="levelId"/>
        <result column="nurse_number" property="nurseNumber"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="buy_time" property="buyTime"/>
        <result column="maturity_time" property="maturityTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, item_id, customer_id, level_id, nurse_number, is_deleted, buy_time, maturity_time
    </sql>

    <!-- src/main/resources/mapper/CustomernurseitemMapper.xml -->
    <select id="selectCustomerItemVo" resultType="com.cqupt.yyzx.vo.CustomerNurseItemVo">
        SELECT cni.id,
               cni.item_id,
               cni.customer_id,
               cni.level_id,
               cni.nurse_number,
               cni.is_deleted,
               cni.buy_time,
               cni.maturity_time,
               c.customer_name,
               nc.serial_number,
               nc.nursing_name,
               nc.nursing_price
        FROM customernurseitem cni
                 JOIN customer c ON (cni.customer_id = c.id)
                 JOIN nursecontent nc ON (cni.item_id = nc.id)
        WHERE cni.is_deleted = 0
          AND cni.customer_id = #{customerId}
    </select>

</mapper>