<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.CustomerpreferenceMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Customerpreference">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="preference" property="preference"/>
        <result column="attention" property="attention"/>
        <result column="remark" property="remark"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, customer_id, preference, attention, remark, is_deleted
    </sql>

<select id="selectCustomerPreferenceVo" resultType="BaseResultMap">

    SELECT
    cp.id,
    cp.customer_id,
    c.customer_name,
    c.customer_sex,
    c.customer_age,
    cp.preferences,
    cp.attention,
    cp.remark,
    FROM customerpreference cp
    JOIN customer c ON (cp.customer_id = c.id)
    <where>
        cp.is_deleted = 0
        <if test="customer_name != null and customerName != ''">
            and customer_name = #{customerName}
        </if>
    </where>
</select>

</mapper>