<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.CustomerMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Customer">
        <id column="id" property="id"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="customer_name" property="customerName"/>
        <result column="customer_age" property="customerAge"/>
        <result column="customer_sex" property="customerSex"/>
        <result column="id_card" property="idCard"/>
        <result column="room_no" property="roomNo"/>
        <result column="budding_no" property="buddingNo"/>
        <result column="checkin_date" property="checkinDate"/>
        <result column="expiration_date" property="expirationDate"/>
        <result column="contact_tel" property="contactTel"/>
        <result column="bed_id" property="bedId"/>
        <result column="psychosomatic_state" property="psychosomaticState"/>
        <result column="attention" property="attention"/>
        <result column="birthday" property="birthday"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="blood_type" property="bloodType"/>
        <result column="filepath" property="filepath"/>
        <result column="user_id" property="userId"/>
        <result column="level_id" property="levelId"/>
        <result column="family_member" property="familyMember"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, is_deleted, customer_name, customer_age, customer_sex, id_card, room_no, budding_no, checkin_date, expiration_date, contact_tel, bed_id, psychosomatic_state, attention, birthday, height, weight, blood_type, filepath, user_id, level_id, family_member
    </sql>
</mapper>