<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.FoodMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Food">
        <id column="id" property="id"/>
        <result column="food_name" property="foodName"/>
        <result column="food_type" property="foodType"/>
        <result column="price" property="price"/>
        <result column="is_halal" property="isHalal"/>
        <result column="food_img" property="foodImg"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, food_name, food_type, price, is_halal, food_img
    </sql>
</mapper>