<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.MenuMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Menu">
        <id column="id" property="id"/>
        <result column="menus_index" property="menusIndex"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="path" property="path"/>
        <result column="parent_id" property="parentId"/>
        <!-- children 字段为非数据库字段，无需映射 -->
    </resultMap>

    <sql id="Base_Column_List">
        id, menus_index, title, icon, path, parent_id
    </sql>
</mapper>