<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.NurselevelMapper">

    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Nurselevel">
        <id column="id" property="id"/>
        <result column="level_name" property="levelName"/>
        <result column="level_status" property="levelStatus"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, level_name, level_status, is_deleted
    </sql>
</mapper>