<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.yyzx.mapper.OutwardMapper">
    <resultMap id="baseResultMap" type="com.cqupt.yyzx.pojo.Outward">
        <id column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="outgoing_time" property="outgoingTime"/>
        <result column="outgoing_reason" property="outgoingReason"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="expected_return_time" property="expectedReturnTime"/>
        <result column="actual_return_time" property="actualReturnTime"/>
        <result column="escorted" property="escorted"/>
        <result column="relation" property="relation"/>
        <result column="escorted_tel" property="escortedTel"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="audit_person" property="auditPerson"/>
        <result column="audit_date" property="auditDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, customer_id, outgoing_time, outgoing_reason, is_deleted, expected_return_time, actual_return_time, escorted, relation, escorted_tel, audit_status, audit_person, audit_date
    </sql>

    <select id="selectOutwardList" resultMap="OutwardVo">
        select distinct u.nickname,
        u.phone_number,
        ow.id,
        ow.is_deleted,
        ow.customer_id,
        ow.outgoingtime,
        ow.outgoingreason,
        ow.expectedreturntime,
        ow.actualreturntime,
        ow.escorted,
        ow.relation,
        ow.escortedtel,
        ow.auditstatus,
        ow.auditperson,
        ow.auditdate,
        cs.customer_name
        from outward ow,
        user u,
        customer cs
        where cs.user_id = u.id
        and ow.customer_id = cs.id
        and ow.is_deleted = 0
        <if test="userId != null and userId != ''">
        and u.id = #{userId}
        </if>
    </select>

</mapper>